<script>

    import { scaleLinear } from 'd3-scale';
    export let data = []
    // so now transformed_data[week_nr] from App is the data in Week
    export let cWidth;
    export let cHeight;
    export let yScale;
    //export let xScale;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    $: thetaScale = scaleLinear().domain([0,364]).range([0, 2*Math.PI])

    // path of curve/plot
    let pathGenerator = (d) => {
        let xOff = 0;
        let yOff = 0;
        let path = "M " 
        d.forEach((value, idx) => {
            path += " " + yScale(value)*Math.cos(thetaScale(idx)) + "," + yScale(value)*Math.sin(thetaScale(idx))
        })
        path += " Z"
        return path;
    }

  </script>

  
{#each Object.keys(data) as doy, doy_idx}
    <!-- X & Y axes -->
    <line x1={cWidth/2} y1={margin.top} x2={cWidth/2} y2={cHeight-margin.bottom} />
    <line x1={margin.left} y1={cHeight/2} x2={cWidth-margin.right} y2={cHeight/2} /> 
    
    <!-- Axes labels -->
    <text x={cWidth/2-3} y={margin.top-2} >0</text>
    <text x={cWidth-8} y={cHeight/2+4} >3</text>
    <text x={cWidth/2-3} y={cHeight} >6</text>
    <text x={margin.left-8} y={cHeight/2+4} >9</text>
    
    <!-- Arrow and Month -->

    <defs>
    
        <path id="path-1" d="M140,25  Q 165,15 190,25" transform="rotate(45,165,15)"/>
    
    </defs>


    <text style="fill: var(--text-color);">
        <textPath xlink:href="#path-1">
          Months
        </textPath>
      </text>


    <!-- Arrow -->

    <path d="M140,30  Q 165,20 190,30" transform="rotate(45,165,15)"/>
    <path d="M172,43 171,31" />
    <path d="M171,42 163,36" />



    <!-- Legend -->

    <g transform="translate(-19,45)">
        <text class="heat" color='orange'>Heating</text>>
    </g>
    <g transform="translate(135, 180)">
        <text class="cool" color='blue'>Cooling</text>
    </g>

    <!-- Data Curves -->
    
    <g transform="translate({cWidth/2},{cHeight/2}) rotate(-90 0 0)" >
        <circle x={cWidth/2} y={cHeight/2} r={cWidth/2-10} />
        <path class="cool" d={pathGenerator(data['cooling'])}  />
        <path class="heat" d={pathGenerator(data['heating'])}  />
        
        <!-- big circles for first day of the month -->
        {#each data['day'] as day, idx}
          {#if day === 1}
             <circle class="cool" cx={yScale(data['cooling'][idx])*Math.cos(thetaScale(idx))} cy={yScale(data['cooling'][idx])*Math.sin(thetaScale(idx))} r=1.5 />
             <circle class="heat" cx={yScale(data['heating'][idx])*Math.cos(thetaScale(idx))} cy={yScale(data['heating'][idx])*Math.sin(thetaScale(idx))} r=1.5 />
          {/if}
        {/each}
    </g>

{/each}

  
  
<style>
    text {
        font-size: 10px;
    }
    .heat {
        fill: rgb(239, 92, 7);
        font-family:monospace;
        font-size: 10px;
        
    }
    .cool {
        fill: rgb(44, 86, 239);
        font-family:monospace;
        font-size: 10px;
        
    }
    line {
        stroke: black;
        stroke-width: 0.69;
    }
    path {
        stroke: black;
        stroke-width: "1px";
        fill: none;
    }
    path.cool {
        stroke: rgb(44, 86, 239);
        fill: rgb(44, 86, 239);
        fill-opacity: 0.05;
    }
    path.heat {
        stroke: rgb(239, 92, 7);
        fill: rgb(239, 92, 7);
        fill-opacity: 0.05;
    }
    circle {
        stroke: black;
        fill: none;
    }
    circle.cool {
        stroke: rgb(44, 86, 239);
        fill: rgb(44, 86, 239);
    }
    circle.heat {
        stroke: rgb(239, 92, 7);
        fill: rgb(239, 92, 7);
    }
</style>
