<script>
  import { scaleLinear, scaleLog } from 'd3-scale';
  export let data = []
  export let leaf_width;
  export let leaf_height;
  export let xScale;
  export let electScale;
  export let gasScale;
  export let rangeMax;
  export let week;

  //export let xScale;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  $: electScale = scaleLog().
                  domain([1*leaf_height, rangeMax]).
                  range([leaf_height/2,0 ])
  $: gasScale = scaleLog().
                domain([1, rangeMax]).
                range([leaf_height/2, leaf_height])
  $: xScale = scaleLinear().domain([0, 24*7]).range([0, leaf_width])
  // path of curve/plot
  let electPathGenerator = (d) => {
      let path = "M " + xScale(0) + "," + electScale(leaf_height)
      d.forEach((value, idx) => {
          path += " " + xScale(idx) + "," + electScale(value)
      })
      path += " " + xScale(168) + "," + electScale(leaf_height)
      path += " Z "
      return path;
  }
  let gasPathGenerator = (d) => {
      let path = "M  " + xScale(0) + "," + gasScale(1)
      d.forEach((value, idx) => {
          path += " " + xScale(idx) + "," + gasScale(value)
      })
      path += " " + xScale(168) + "," + gasScale(1)
      path += " "
      return path;
  }
</script>

<!-- Leaf Pattern -->

<defs>
  <pattern id="electPattern"
           x="10" y="10" width="5" height="100" patternUnits="userSpaceOnUse" >
<!-- start pattern-->
   <line class="leafElect" x1="0" x2="6" y1="0" y2="100"  />" />
  </pattern>
</defs>
<defs>
  <pattern id="gasPattern"
           x="10" y="10" width="5" height="100" patternUnits="userSpaceOnUse" >
<!-- start pattern-->
   <line class="leafGas" x1="0" x2="6" y1="0" y2="100"  />" />
  </pattern>
</defs>

<!-- Data Curves -->

<g transform="translate(2,0) rotate(-25 -5 37)" >
  <line class="Midvein" x1={-5} y1={leaf_height/2} x2={leaf_width} y2={leaf_height/2} />
  <path class="elect" d={electPathGenerator(data['total_electrity'])}  />
  <path class="gas" d={gasPathGenerator(data['total_gas'])}  />

</g>
{#if week%2 === 0}
<g transform="translate(22,8) rotate(-25 -5 37) scale(1,1)">
</g>
{/if}
{#if week%2 === 1}
<g transform="translate(59,-9) rotate(-25 -5 37) scale(-1,1)">
</g>
{/if}


<style>

  line.leafElect {
      stroke: rgb(8, 8, 248); 
      fill: rgb(8, 8, 248);
      stroke-width: 6.9;
  }
  line.leafGas {
      stroke: orange; 
      fill: orange;
      stroke-width: 4;
  }
  path.elect {
      stroke: rgb(21, 21, 242);
      fill-opacity: 0.9;
      fill: url(#electPattern);
      fill: rgb(21, 21, 242);
  }
  path.gas {
      background-color: orange;
      stroke: orange;
      fill-opacity: 0.9;
      fill: url(#gasPattern);
      fill: orange;
  }
  line.Midvein {
      stroke: rgb(11, 11, 10);
      stroke-width: 1.9;
      stroke-opacity: 0.7;
  }
  .legend {
      fill: rgb(0, 0, 0);
      font-size: 9px;
      font-family:Georgia, 'Times New Roman', Times, serif;
  }


</style>
