<script>
  import { scaleLinear, scaleLog } from 'd3-scale';
  import { extent } from 'd3-array';
	import { json } from "d3-fetch";
	import { onMount } from "svelte";
	import Tree from './_design_3_leaves.svelte';
  // Size and margins
  const width = 500;
  const height = 600;
  const leaf_width = 200;
  const leaf_height = 90;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  let datapoints = [];
	onMount(async () => {
		datapoints = await json("/data/hourly_electricity_vs_gas_december.json");
  });
  let transformed_data = {}

	$: {
			datapoints.forEach((d) => {
				if ( !(d.week in transformed_data)) {
					transformed_data[d.week] = []
				}
				if ( !(d.total_electricity in transformed_data[d.week])) {
				    transformed_data[d.week]['total_electrity'] = []
				}
				if ( !(d.total_gas in transformed_data[d.week])) {
				    transformed_data[d.week]['total_gas'] = []
				}
			})
			datapoints.forEach((d) => {
				transformed_data[d.week]['total_electrity'].push(d.total_electrity)
				transformed_data[d.week]['total_gas'].push(d.total_gas)
			})
	}

  $: rangeMin = Math.min(extent(datapoints.map((d) => d.total_electrity))[0], extent(datapoints.map((d) => d.total_gas))[0]);
	// Find max value of heating/cooling
	$: rangeMax = Math.max(extent(datapoints.map((d) => d.total_electrity))[1], extent(datapoints.map((d) => d.total_gas))[1]);

  $: electScale = scaleLinear().domain([0, rangeMax]).range([0, leaf_height])
  $: gasScale = scaleLinear().domain([0, rangeMax]).range([ leaf_height, 0])
  $: xScale = scaleLinear().domain([0, 24*7]).range([0, leaf_width/2])
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <!-- Tree Trunk -->
    <line class="trunk" x1={width/2} y1={height-margin.bottom} x2={width/2} y2={margin.top+35} />
    <!-- passing data as leaves -->
    {#each Object.keys(transformed_data) as week, week_idx}
      <!-- Pointing to the Right -->
      {#if week%2 === 0}
        <g transform="translate({width/2},{height-(leaf_height*(week_idx+2))})">
          <!-- <text x=0 y=0 >{week}</text> -->
          <Tree data={transformed_data[week]} {leaf_width} {leaf_height}  {xScale}{electScale} {gasScale} {rangeMax} {week} />     
        </g>
      {/if}
      <!-- Pointing to the Left -->
      {#if week%2 === 1}
        <g transform="scale(-1, 1) translate({-1*width/2},{height-(leaf_height*(week_idx+2))})">
          <!-- <text x=0 y=0 >{week}</text> -->
          <Tree data={transformed_data[week]} {leaf_width} {leaf_height}  {xScale}{electScale} {gasScale} {rangeMax} {week} />     
        </g>
      {/if}
	  {/each}
  </g>
  <g transform="translate({20+width/2}, {height-70})">
    <text class="elect" >Blue Leaf = ELECTRICITY</text>>
  </g>
  <g transform="translate({20+width/2}, {height-50})">
    <text class="gas" >Orange Leaf = GAS</text>
  </g>
  <g transform="translate({105}, {19})">
    <text class="title" >D E C E M B E R - 2 0 1 4</text>
  </g>
  <g transform="translate({20}, {height-70})">
    <text class="subtitle" >Usage of Gas & Electricity</text>
  </g>
  
  <g transform="translate({20}, {height-40})">
    <text class="subtitle" >One Leaf = One Week's Data</text>
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  line.trunk {
    stroke: rgb(0, 0, 0);
    stroke-opacity: 0.7;
    stroke-width: 1.9;
  }
  .elect {
        fill: rgb(21, 21, 242);
        font-size: 16px;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
    }
  .gas {
      fill: orange;
      font-size: 16px;
      font-weight: bold;
      font-family: 'Courier New', Courier, monospace;
  }
  .title {
        fill: rgb(0, 0, 0);
        font-size: 25px;
        font-weight: bolder;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
  .subtitle {
      fill: rgb(0, 0, 0);
      font-size: 14px;
      font-weight: bold;
      
      font-family:Georgia, 'Times New Roman', Times, serif;
  }
</style>
