<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import { scaleLinear } from "d3-scale";
  import { extent } from "d3-array";

  // Size and margins
  const width = 700;
  const height = 500;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const lineMax = 10;
  const lineStart = 170;

  // Load data
  let data = [];
  onMount(async () => {
    data = await json("/data/hourly_heating_december.json");
  });

  let dataT = {};
  $: {
    data.forEach((d) => {
      if ( !(d.city in dataT)){
        dataT[d.city] = {};
      }
      if ( !(d.buildingtype in dataT[d.city])){
        dataT[d.city][d.buildingtype] = [];
      }
      dataT[d.city][d.buildingtype].push(d.total_heating_energy);
    })
  }

  // Select which location
  let currentData = {};
  $: if (("Baltimore" in dataT) && !("FullServiceRestaurant" in currentData)){
    currentData = dataT["Baltimore"];
  }

  function changeLoc(event){
    currentData = dataT[event.currentTarget.value];
  }

  function changeScale(event){
    if (event.currentTarget.value == "Global"){
      local = false;
    } else {
      local = true;
    }
  }

  // Scales
  $: xScale = scaleLinear().domain([0,744]).range([lineStart,innerWidth]);
  $: yScale = scaleLinear().domain(extent(data.map((d) => d.total_heating_energy))).range([lineMax,0]);

  // Make path
  let local = true;
  let genPath = (d, loc) => {
    if (loc == 1){
      yScale = scaleLinear().domain([0,Math.max(...d)]).range([lineMax,0]);
    } else {
      yScale = scaleLinear().domain(extent(data.map((d) => d.total_heating_energy))).range([lineMax,0]);
    }
    let path = "M "+lineStart+","+yScale(0);
    let pathBack = lineStart+","+yScale(0)+" Z";
    d.forEach((value, idx) => {
      path += " " + xScale(idx) + ',' + yScale(value);
      pathBack = xScale(idx) + ',' + (2*yScale(0)-yScale(value)) + " " + pathBack;
    })
    return path+" "+pathBack;
  }
</script>


<div class="wrapper">
  <h3>ENERGY USE OVER MULTIPLE DAYS</h3>
  <div class="radiowrap">
    <div class="radiogroup">
      <p>Location:</p>
      <input type="radio" id="bal" name="loc" value="Baltimore" on:change={changeLoc} checked>
      <label for="Baltimore">BALTIMORE</label><br>
      <input type="radio" id="chi" name="loc" value="Chicago" on:change={changeLoc}>
      <label for="Chicago">CHICAGO</label><br>
      <input type="radio" id="losa" name="loc" value="Los Angeles" on:change={changeLoc}>
      <label for="Los Angeles">LOS ANGELES</label><br>
    </div>


    <div class="radiogroup">
      <p>Scaling:</p>
      <input type="radio" id="global" name="scal" value="Local" on:change={changeScale}>
      <label for="Local">Across All Types of Buildings</label><br>
      <input type="radio" id="local" name="scal" value="Global" on:change={changeScale} checked>
      <label for="Global">Within Each Type of Buildings</label><br>
      
    </div>
  </div>


<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    {#each Object.keys(currentData) as build, build_idx}
      <g transform="translate(0, {build_idx*30})">
        <text transform="translate({lineStart-19}, 15)" text-anchor="end">{build}</text>
        {#if local == true}
          <path d={genPath(currentData[build], 1)} />
        {:else}
          <path d={genPath(currentData[build], 0)} />
        {/if}
      </g>
    {/each}
  </g>
</svg>
</div>


<style>
  .wrapper{
    display: block;
    float: left;
  }
  h3 {
      text-align: center;
      font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-weight: bolder;
      
  }
  .radiowrap{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
  }
  .radiogroup{
    display: block;
    margin: 0 19px 19px 0;
  }
  svg {
    border: 0.69px solid black;
    border-radius: 6px;
    display:block;
    font-family:cursive;
    margin: auto;
    
  }

  path {
    stroke: rgb(59, 234, 59);
    fill:rgb(10, 21, 15);
    fill-opacity: 0.91;
  }
</style>
