<script>
	import { scaleLinear, scaleLog } from 'd3-scale';
    import { extent } from 'd3-array';
	import { json } from "d3-fetch";
	import { onMount } from "svelte";
	import City from './_design_2_location.svelte';
	//export let name;
	// Size and margins
	const width = 600;
	const height = 250;
	let cWidth = 190;
	let cHeight = 190;
	const margin = { top: 10, right: 10, bottom: 10, left: 10 };
	const innerWidth = width - margin.left - margin.right;
	const innerHeight = height - margin.top - margin.bottom;
	let datapoints = [];
	onMount(async () => {
		datapoints = await json("/data/daily_heating_cooling.json");
    });
	//fetch("/data/daily_heating_cooling.json")
    //  .then(res => res.json())
    //  .then(data => datapoints = data)


	let transformed_data = {}
	$: {
			datapoints.forEach((d) => {
				if ( !(d.city in transformed_data)) {
					transformed_data[d.city] = {}
				}
				if ( !(d.day in transformed_data[d.city])) {
					transformed_data[d.city]['day'] = []
				}
				if ( !(d.heating in transformed_data[d.city])) {
				    transformed_data[d.city]['heating'] = []
				}
				if ( !(d.cooling in transformed_data[d.city])) {
				    transformed_data[d.city]['cooling'] = []
				}
			})
			datapoints.forEach((d) => {
				transformed_data[d.city]['day'].push(d.day)
				transformed_data[d.city]['heating'].push(d.heating)
				transformed_data[d.city]['cooling'].push(d.cooling)
			})
	}


    // Find min value of heating/cooling
	$: rangeMin = Math.min(extent(datapoints.map((d) => d.heating))[0], extent(datapoints.map((d) => d.cooling))[0]);
	// Find max value of heating/cooling
	$: rangeMax = Math.max(extent(datapoints.map((d) => d.heating))[1], extent(datapoints.map((d) => d.cooling))[1]);
	// scale domain is the max range of heating or cooling
    $: yScale = scaleLog().domain([rangeMin, rangeMax]).range([0, cHeight/2.5])



</script>


<svg {width} {height} >
	<g transform="translate({margin.left}, {margin.top})">
		{#each Object.keys(transformed_data) as city, city_idx}
			<g transform="translate({margin.left+cWidth*city_idx},{margin.top})">
				<text>{city}</text>
				<City data={transformed_data[city]} {cWidth} {cHeight}  {yScale} />     
			</g>
	  {/each}
	</g>
</svg>
  
<style>
	svg {
		border: 0.69px solid black;
		border-radius: 6px;
	}
	text {
      font-size: 19px;
	  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-weight: bold; 
	  font-style: normal ;
    }

</style>
