

<p>I <span style="color:#f00;">really</span> like data visualisation!</p>
<style>
    p {
      color: steelblue;
      font-size: 25px; 
      font-weight: bold;
      font-style: oblique;
    }
  </style>
