<script>
    const student = { name: 'Jeh'};
    console.log(student);
    const myList = ['bikes', 'gym', 'music '];
    console.log(myList[0]);
    console.log(myList[1]);
    console.log(myList[2]);
</script>

<p>My name is {Object.values(student)} and these are some of my favourite things: {Object.values(myList)} </p>

    

  
