<script>
  // Properties
  export let data = [];
  export let yearsAfter1800 = 0;
  export let continent = "all";

  const lastYearAfter1800 = 214;
  const continents = ["europe", "asia", "americas", "africa"];

  let handle = null;
  function handleClickStart() {
    handle = setInterval((_) => yearsAfter1800 += 1, 50);
  }

  function handleClickReset() {
    yearsAfter1800 = 0;
    clearInterval(handle);
  }

  $: if (yearsAfter1800 == lastYearAfter1800) {
    handleClickReset()
  }

</script>

<div class="row">
  <div class="col-4">
    <button type="button" class="btn btn-primary" on:click={handleClickStart}>Start</button>
    <button type="button" class="btn btn-primary" on:click={handleClickReset}>Reset</button>
  </div>
  <div class="col-5">
    <label class="form-label col-sm-10">
      Year:
      {yearsAfter1800 + 1800}
      <input type="range" min="0" max="{lastYearAfter1800}" class="form-range" bind:value="{yearsAfter1800}">
    </label>
  </div>
  <div class="col-3">
    <select id="continent-select" class="form-select" bind:value="{continent}">
      {#each ["all"].concat(continents) as c}
        <option value={c}>{c}</option>
      {/each}
    </select>
  </div>
</div>
