<script>
    $: number = 0;

	function handleClick(event) {
		number += 1;
	}

    function resetClick(event) {
		number = 0;
	}
</script>

<button class="btn btn-primary" on:click={handleClick}>

	{#if number==1}
    
    You have clicked {number} time!
    {:else}
    
    You have clicked {number} times!
    {/if}

</button>


<button class="btn btn-danger" on:click={resetClick}>

	Reset

</button>

