<script>
  import { onMount } from "svelte";

// Dimensions
const width = 800;
const height = 100;
const margin = { top: 10, right: 20, bottom: 20, left: 20 };
const innerWidth = width - margin.left - margin.right;
const innerHeight = height - margin.top - margin.bottom;

// Arrays
const points = [
  innerWidth / 2 - 91,
  innerWidth / 2 - 45.5,
  innerWidth / 2,
  innerWidth / 2 + 45.5,
  innerWidth / 2 + 91
];

// All lights with a higher index are on!
let index = points.length;


let color = "red";
let interval = null;
function countdown() {
  interval = setInterval((_) => (index -= 1), 1000)};
function stop() {clearInterval(interval)};
$: onMount(async () => {
  const res = await countdown();});
$: console.log(index);
</script>

<svg viewBox="0 0 {width} {height}">
<g transform="translate({margin.left},{margin.top})">

  {#each points as point, i}
  
  <circle

      cx={point}
      cy={innerHeight / 2}
      r="13"
      opacity={i > index ? 1 : 0.25}
      fill={index < -1 ? "darkgreen" : color}
      
    />
  
    {/each}
  
    {#if index < -1}
      {stop()};
      {/if}
</g>
</svg>
