<script>
  
import {scaleLinear} from 'd3-scale';
import {schemeDark2} from 'd3-scale-chromatic';
import {scaleOrdinal} from 'd3-scale';
import {extent} from 'd3-array';

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  const xScale=scaleLinear().domain([0,10]).range([0,innerWidth]);
  const yScale=scaleLinear().domain([3,0]).range([0,innerHeight]);
  const colScale=scaleOrdinal(schemeDark2).domain(extent(values, d=> d.category));

</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <line x1=5 x2={innerWidth} y1={innerHeight} y2={innerHeight} stroke="black" />

    {#each values as q}

    <line x1={xScale(q.x)} x2={xScale(q.x)} y2={yScale(q.y)} y1={innerHeight} stroke="black" />
    <circle cx={xScale(q.x)} cy={yScale(q.y)} style="fill: {colScale(q.category)};" r=5 />
    <text x={xScale(q.x)} y={yScale(q.y)-10} class="valuelabel">{q.y}</text>

    {/each}

  </g>

</svg>


<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>


 

 
 


  
  
